body {
    font-family: Courier, 'Courier New', monospace;
    padding: 1em;
}

a, a:hover, a:visited {
    color: #000;
    text-decoration: none;
}

a {
    box-shadow: inset 0 -3px #31ffd5;
}

a:hover {
    background:#31ffd5;
}

p, li {
    line-height: 1.25em;
}

h1 {
    text-align: center;
}

iframe {
    display: block;
    margin: 0 auto;
    border: none;
    width: 512px;
    height: 512px;
}

.contrast-bg {
    background: #000;
}
